#header
{
	text-align: left;
	position: sticky;
    top: 0;
    left: 0;
	background-color: #918f8f;
	border-radius: 25px 25px 0px 0px;
}

#page_area
{
	text-align: left;
}

#footer
{
	position: sticky;
    bottom: 0;
    left: 0;
	background-color: #918f8f;
	text-align: left;
	border-radius: 0px 0px 25px 25px;
	border-bottom: 15px solid transparent;
}

body
{
	background-color: black;
}

#content
{
	text-align: center;
	margin: 25px auto;
	width: 90%;
	border-radius: 25px;
	background-color: gray;
}

div.nav_bar_div
{
	background:green;
	display: inline-block;
	border-radius: 25px;
}

button.navigator
{
	margin: 0;
    padding: 0;
	background:#004f00!important;
	color:white;
	border:none; 
	padding: 14px 16px!important;
	font: inherit;
	/*border is optional*/
	cursor: pointer;
}

ul.navigation 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.navigator
{
    display: inline;
	margin: 0;
    padding: 0;
	width: 100%;
}

li.navigator button
{
	border-radius: 25px;
}

li button:hover 
{
    background-color: #555!important;
    color: white!important;
}

li button.active
{
	margin: 0;
    padding: 0;
	background:#001b7c!important;
	color:white;
	border:none; 
	padding: 14px 16px!important;
	font: inherit;
	/*border is optional*/
	cursor: pointer;
}